@font-face {
    font-family: "terminal";
    src: url('/fonts/terminal.ttf');
    src: url('/fonts/terminal.ttf'),
    url('/fonts/terminal.woff') format('woff'),
  }

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.terminalScreen iframe
{
    width: 1024px;
    height: 820px;
    border: none;
    background: #000000;
    user-select: none;
}

.loadingScreen
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    line-height: 100vh;
    font-family: 'terminal', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}